:root{
    --background: #F1EFFE;
    --accent: #4D379C;
    --text: #030820;
    --card-bg: #FEFEFE;
    --fade: #88888B;
}

*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background);
    color: var(--text);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 30px;
}
header h1{
    font-weight: 800;
    color: var(--accent);
}

button{
    padding: 12px 15px;
    color: white;
    font-size: 1rem;
    background-color: var(--accent);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

button:hover{
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transform: translateY(-2px);
}

#search-input{
    display: block;
    width: calc(100% - 40px);
    max-width: 600px;
    margin: 15px auto 0;
    padding: 14px 18px;
    border-radius: 10px;
    font-size: 1rem;
    border: 2px solid transparent;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    caret-color: var(--accent);
    font-family: inherit;
}

#search-input:focus{
    outline: none;
    border-color: var(--accent);
}

.error{
    background-color: white;
    width: 100%;
    max-width: 300px;
    padding: 10px 16px;
    font-size: 1rem;
    text-align: center;
    border-radius: 8px;
    margin: 20px auto;
    color: rgba(249, 19, 19, 0.776);
    border: 2px solid  rgba(249, 19, 19, 0.776);
}

#blog-container{
    width: 100%;
    max-width: 1200px;
    margin: 45px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;

    @media screen and (max-width: 780px){
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 0 15px;
    }
}

.blog-card{
    width: 100%;
    border-radius: 16px;
    background-color: var(--card-bg);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: inherit;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    cursor: pointer;
}

.blog-card:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.blog-card img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    display: block;

    @media screen and (max-width: 700px){
        height: 220px;
    }
}

.card-content{
    padding: 20px;
    color: var(--fade);
    flex-grow: 1;
}

.card-content h2{
    margin: 0 0 10px 0;
    line-height: 1.5;
    color: var(--text);
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.card-footer span {
  font-size: 0.85rem;
  color: var(--fade);
  font-weight: 500;
}

/* Modal styling */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-card {
  background-color: var(--card-bg);
  margin: 0 auto;
  margin-top: 70px;
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  font-family: inherit;
}

.create-form {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.input-form {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
}

.input-form input, 
.input-form textarea {
  width: 100%;
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  caret-color: var(--accent);
  font-family: inherit;
}

.input-form textarea {
  height: 100px;
  resize: vertical;
}

input:focus, textarea:focus{
    outline: none;
    border-color: var(--accent);
}

.form-actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 10px;
}

.form-actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
}

.submit-btn {
  background-color: var(--accent);
  color: white;
}

#cancel-btn {
  background-color: #dc3545;
  color: white;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

footer h3{
    font-size: 1.5rem;
    color: var(--text);
}

footer p{
    font-size: 0.7rem;
    color: var(--fade);
}

.interact{
    display: flex;
    gap: 10px;
    padding: 0 20px 20px;
}

.interact button{
    flex: 1;
}

.delete-btn {
    background-color: #dc3545;
}